.header {
  padding: 1rem;
  margin-bottom: 5rem;
  position: sticky;
  top: 0;
  z-index: 10;
  display: grid;
  align-items: center;
  gap: 1rem;
  background-color: var(--border-light);
  transition: all 300ms ease-out;
}

.header-with-shadow {
  box-shadow: 0 5px 15px var(--border-light);
}

.home {
  margin-inline: auto;
  display: grid;
  justify-items: center;
  position: relative;
}

.navigation-items {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-self: end;
}

.name {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: Source Code Pro, Helvetica, sans-serif;
  text-align: center;
}

.description-text {
  width: 30ch;
  padding: 0.5em;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  background-color: var(--background-dark);
}

.portrait {
  max-width: 31rem;
  margin-top: 5rem;
}

.description-text::after {
  content: "";
  background: linear-gradient(180deg, transparent, var(--background-dark) 99%);
  display: block;
  width: 100%;
  height: 110%;
  position: absolute;
  bottom: 100%;
}

@media (prefers-color-scheme: light) {
  header {
    background-color: var(--background-dark);
  }

  .header-with-shadow {
    box-shadow: 0 5px 15px var(--background-dark);
  }

  .name {
    color: var(--text-dark);
  }

  .navigation-items > * {
    color: var(--text-dark);
  }

  .description-text {
    background-color: var(--background-light);
  }

  .description-text::after {
    background: linear-gradient(180deg, transparent, var(--background-light) 99%);
  }
}

@media only screen and (min-width: 800px) {
  .header {
    margin-bottom: initial;
    padding-inline: 3rem;
    grid-auto-flow: column;
  }

  .name {
    text-align: start;
    font-size: 2rem;
    flex: 2;
  }

  .navigation-items {
    min-width: 60rem;
    grid-auto-flow: column;
    align-self: center;
    justify-self: end;
  }

  .home {
    min-height: 100vh;
    min-height: 100svh;
    grid-auto-flow: column;
    align-items: center;
  }

  .home > h1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    transform: translate(-1.5rem, -10rem);
  }

  .description-text {
    width: 38ch;
    padding: 0;
    position: initial;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    transform: none;
    justify-self: center;
    background: transparent;
    transform: translateY(5rem);
  }

  .description-text::after {
    background: none;
    display: none;
  }

  .portrait {
    max-width: 40rem;
    margin: 0;
  }
}
